html, 
body {
    min-height:100%; 
    padding:0; 
    margin:0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #e7f4ff;
    background-color: #e7f4ff;
}

#wrapper {
    position:absolute; 
    top:0; 
    bottom:0; 
    left:0; 
    right:0;
}

#content {
    min-height:100%; 
    background: url(/content/img/a1-c.jpg) no-repeat center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#top-bar {
    width: 700px;
    height:45px;
}

    #top-bar h1 {
        margin: 0;
        padding:10px 0 0 15px;
    }

    #top-bar h1 > a {
        color:#e7f4ff;
        text-decoration:none;
    }
  
#content-column {
    float:left;
    margin: 0 0 0 15px;
    width: 560px;
}

h2 {
    color:#ECC50F;
    font-weight: normal;
}

#nav
{
    width:150px;
    float:left;
    border-right: 1px solid #c9ddfa;
    margin-top: 10px;
    height:275px;
}

.clear-it {
    clear:both;
}

ul { 
    list-style: none; 
}

ul li a { 
    display:block; 
    text-decoration:none; 
    color:#0054A3; 
    background-color:#fff; 
    line-height:30px; 
    border-bottom-style:solid; 
    border-bottom-width:1px; 
    border-bottom-color:#ccc; 
    padding-left:10px; 
    cursor:pointer; 
}

li a:hover { 
    color:#fff; 
    background-color:#0054A3; 
}

#content-column a:link,
#content-column a:active,
#content-column a:visited
{ 
    color: #0054A3;
    text-decoration: none;
}

#content-column a:hover { 
    color: #0054A3;
    text-decoration: underline;
}

#btn-container a:link,
#btn-container a:active,
#btn-container a:visited,
#details a:link,
#details a:active,
#details a:visited
{ 
    color: #c9ddfa;
    text-decoration: none;
}

#btn-container a:hover,
#details a:hover { 
    color: #c9ddfa;
    text-decoration: underline;
}

thead tr {
  background: #0054A3;
    color: #eee;
}

tbody tr:nth-child(odd) {
  background: #fff;
}

tbody tr:nth-child(even) {
  background: #eee;
}

table {
    border: 1px solid #c9ddfa;
    width:560px;
    border-spacing: 0;  
    text-align:left;
    color: #0054A3; 
}

td, th {
    padding:5px;
}

#results-details p,
#results-details h2 {
    color: #0054A3;
}

label{
    float: left;
    width: 120px;
}

input, textarea{
    width: 180px;
    margin-bottom: 5px;
}

.cancel-link {
    margin-right: 17px;
}

.submit-btn {
    width: 125px;
}

.login-btn,
.delete-btn,
.save-btn {
    width: 100px;
}

.back-link {
    margin-top: 17px;
}

#btns {
    float:right;
}

#btn-container {
    margin-top: 10px;
    width:302px;
    text-align:right;
}

#edit-btn-container {
    width:304px;
    text-align:right;
}

#login-container {
    padding-top: 30px;
    width: 50%;
    margin: 0 auto;
}

#footer {
    text-align: right;
    padding: 15px 18px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

#results-view {
    padding: 25px 50px;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: normal;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}